body {
  font-family: 'Roboto', sans-serif;
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
  
  max-width: 976px;
  margin: 0 auto;
  min-height: 100%;
}
header {
  padding: 10px 10px 15px 20px;
  position: relative;
  background: white;
  border-radius: 10px;
}

.topheader{
  padding-top: 10px;
}
.mixbox {
  padding-top: 10px;
}
.btnblock {
  padding-top: 10px;
}
.comm-btn {
  margin-top: 10px;
}